services:
  _defaults:
    autowire: true
    autoconfigure: true

  FK\Bundle\AttributeAuthorizationBundle\Source:
    resource: '../../Source'

  fk_attribute_authorization_bundle:
    authorization_subscriber:
      class: FK\Bundle\AttributeAuthorizationBundle\EventSubscriber\AuthorizationSubscriber
      tags:
        - { name: kernel.event_subscriber }